*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
::selection{
    background-color: #6dad92;
}
nav{
    gap: 10px;
    padding: 15px;
    display: flex;
}

.navbar{
    flex: 1;
}
.nav-position{
    display: flex;
    gap:40px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main-logo{
    padding-left: 80px;
    padding-bottom: 80px;
}

main{
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
   
}
.main-containers{
    flex: 1;
}
.one{
    padding-left: 80px;
    font-size: 30px;
    color:#F9FAF8;
}
.main-header{
    color: #ad6d88;
}
.two{
    position: relative;
    left: 100px;
}
.small-text{
    font-size: 18px;
    padding-bottom: 7px;
}

.top-portion{
    background-color: #1F2937;
}
button{
    cursor: pointer;
    border: none;
    border-radius: 3em;
    padding: 10px 20px 10px 20px;
    background:linear-gradient(
        20deg,
        #6d88ad,
        #926dad
    );
    font-size: 18px;
    color: #F9FAF8;

}
button:hover{
    transform: scale(1.1);
    border: 1px solid #F9FAF8;
}
.nav-link:hover{
    color:#6dad92;
    transform: scale(1.1);
}

.mid-containers{
    display: flex;
    gap:30px;
    background-color: #F9FAF8;
    padding: 100px 200px 10px 200px;
}
.cards{
    flex: 1;
    justify-content: center;
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
h2{
   position: absolute;
   left: 475px;
   top: 600px;
   color: #6dad92;
   font-size: 38px;
}

.c-one{
    background-color: #6dad92;
}
.c-two{
    background-color: #6d88ad;
}
.c-three{
    background-color: #ad6d88;
}
.c-four{
    background-color: #926dad;
}
.p-portion{
    display: flex;
    gap:30px;
    background-color: #F9FAF8;
    padding: 0px 200px 25px 200px;
}

.ps{
    flex: 1;
    justify-content: center;
    font-size: 18px;
    width:100px;
    height: 200px; 
}

.read{
    text-align: center;
    padding: 50px;
    font-size: 25px;
    font-style: oblique;
    font-weight: 100;
    background-color: #E5e7eb;
    color: #1F2937;
}
.thor{
    font-weight: bolder;
}

.call{
    padding: 100px 150px 100px 150px;
    text-align: center;
    font-size: 18px;
    color:#F9FAF8;
}
.bottom-button{
    position:relative;
    bottom: 135px;
    left: 1050px;
}

footer{
    text-align: center;
    background-color: #F9FAF8;
    padding-top: 50px;
    padding-bottom: 50px;
}
