*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

nav{
    gap: 10px;
    padding: 15px;
    display: flex;
}

.navbar{
    flex: 1;
}
.nav-position{
    display: flex;
    gap:40px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.main-logo{
    padding-left: 80px;
}

main{
    display: flex;
    justify-content: space-between
   
}
.main-containers{
    flex: 1;
}
.one{
    padding-left: 80px;
    font-size: 30px;
    color:#F9FAF8;
}
.two{
    position: relative;
    left: 100px;
}
.small-text{
    font-size: 18px;
    padding-bottom: 7px;
}

.top-one{
    background-color: #1F2937;
}
button{
    border: none;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    background-color:#6d88ad  ;
    font-size: 18px;
    color: #F9FAF8;

}
button:hover{
    background-color:#ad926d ;
}
.mid-containers{
    display: flex;
    gap:30px;
    background-color: #F9FAF8;
    padding: 100px 200px 100px 200px;
}
.cards{
    flex: 1;
    justify-content: center;
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
h2{
   position: absolute;
   left: 530px;
   top: 450px;
   color: #1F2937;
   font-size: 30px;
}

.c-one{
    background-color: #6dad92;
}
.c-two{
    background-color: #6d88ad;
}
.c-three{
    background-color: #ad6d88;
}
.c-four{
    background-color: #926dad;
}